nav(class='navbar navbar-default')
    .contaienr-fluid
        .navbar-header
            button(
                type='button'
                class='navbar-toggle collapse'
                data-toggle='collapse'
                data-target='#bs-example-navbar-collapse-1'
                arial-expanded='false'
            )
                span.sr-only Toggle navigation
                each i in [1,2,3]
                    span.icon-bar
            a.navbar-brand(href='#') Brand
        = '\n'
        div(class='collapse navbar-collapse', id='bs-example-navbar-collapse-1')
            ul(class='nav navbar-nav')
                li(class= type == 'index' ? 'active' : '')
                    a(href='//localhost:3000') 首页
                        span.sr-only (current)
                li.dropdown(class= type == 'goods' ? 'active' : '')
                    a(href='#', class='dropdown-toggle', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') 商品模块
                        span.caret 
                    ul.dropdown-menu
                        li
                            a(href='//localhost:3000/goods') 商品列表
                        li(role="separator" class="divider")
                        li
                            a(href='//localhost:3000/goods/adds') 新增商品
            form(class='navbar-form navbar-left')
                .form-group
                    input(type='text', class='form-control', placeholder='Search')
                = '\t'
                button(type='submit', class='btn btn-primary') 提交
            = '\n'
            ul(class='nav navbar-nav navbar-right')
                li
                    a(href='#') 
                        i(class='glyphicon glyphicon-eject')
                        = '\t'
                        span 退出